/flaskProject/.idea/.gitignore
/flaskProject/.idea/misc.xml
/flaskProject/.idea/modules.xml
/flaskProject/.idea/inspectionProfiles/profiles_settings.xml
/flaskProject/.idea/inspectionProfiles/Project_Default.xml
/flaskProject/.idea/vcs.xml
